<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Existing Reviews</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/reviews.css" />
  </head>
  <body>
    <header style="background-color: black">
      <nav>
        <div class="logoMenu">
          <div>
            <a href="#" class="openbtn" onclick="openNav()">
              <i class="fa-solid fa-bars"></i
            ></a>
          </div>
        </div>

        <div id="mySidebar" class="sidebar">
          <!-- Button to close the sidebar -->
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <!-- Links -->
          <a href="/latestCars">Latest Releases</a>
          <a href="futureCars">Future Releases</a>
          <a href="/trendingCars">Trending Vehicles</a>
          <a href="/rent">Rent Vehicles</a>
          <a href="/faqs">FAQs</a>
        </div>
        <div class="menu">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/reviews">Reviews</a>
        </div>
        <div class="social">
          <a href="/search" class="tooltip"
            ><i class="fa-solid fa-magnifying-glass"
              ><span class="tooltiptext">Search</span></i
            ></a
          >
          <a href="/notification" class="tooltip"
            ><i class="fa-solid fa-bell"
              ><span class="tooltiptext">Notifications</span></i
            ></a
          >

          <a href="/login" class="tooltip"
            ><i class="fa-solid fa-user">
              <span class="tooltiptext">Login</span>
            </i></a
          >
        </div>
      </nav>
    </header>
    <div class="review-container">
      <h1>Leave a Review</h1>
      <form action="/submit-review" method="post">
        <div class="form-container">
          <div class="formElement">
            <label for="your-name"></label>
            <input
              type="text"
              id="your-name"
              name="your-name"
              placeholder="Enter your name"
              required
            />
          </div>
          <div class="formElement">
            <label for="vehicle-type"></label>
            <select id="vehicle-type" name="vehicle-type">
              <option value="">Select Vehicle Type</option>
              <option value="car">Car</option>
              <option value="motorcycle">Motorcycle</option>
            </select>
          </div>
          <div class="formElement">
            <label for="rating"></label>
            <select id="rating" name="rating">
              <option value="">Select Rating</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="formElement">
            <label for="vehicle-name"></label>
            <input
              type="text"
              id="vehicle-name"
              name="vehicle-name"
              placeholder="Enter vehicle name"
              required
            />
          </div>
          <div class="formElement">
            <label for="review-title"></label>
            <input
              type="text"
              id="review-title"
              name="review-title"
              placeholder="Enter Review Title"
              required
            />
          </div>
          <div class="formElement">
            <label for="vehicle-model"></label>
            <input
              type="text"
              id="vehicle-name"
              name="vehicle-model"
              placeholder="Enter vehicle model"
              required
            />
          </div>
          <div class="formElement">
            <label for="date">Select Date</label>
            <input type="date" id="date" name="" required />
          </div>
        </div>

        <div class="formElement">
          <label for="comment"></label><br />
          <textarea
            id="comment"
            name="comment"
            rows="4"
            cols="50"
            placeholder="Enter your comment here"
            required
          ></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="review-container">
      <div class="review-card-container">
        <h2>Existing Reviews</h2>
        <div class="card-container">
          <% reviews.forEach(review => { %>
          <div class="review-card">
            <div class="review-content">
              <h2><%= review.vehicleName %> <%= review.vehicleModel %></h2>
              <hr />
              <h3><%= review.reviewHeading %></h3>
              <p>"<%= review.comment %>"</p>
              <h4>By <%= review.reviewerName %></h4>
              <p>
                <% if (review.submittedDate) { %> on <%=
                review.submittedDate.toDateString() %> <% } else { %> No
                submission date available <% } %>
              </p>
              <div class="star">
                <% for(let i = 0; i < review.rating; i++) { %>
                <i class="fa-solid fa-star"></i>
                <% } %> <% for(let i = review.rating; i < 5; i++) { %>
                <i class="fa-regular fa-star"></i>
                <% } %>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
